
.container-title{
  width: 800px;
  height: 250px;
  box-shadow: 0px 3px 30px #A5A5A5;
  display: flex;
  flex-direction: column;
  margin: 2em;
  border-radius: 10px;
  border-top: 10px solid #ff7300;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff3ea;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.card-container {
  width: 800px;
  height: 250px;
  box-shadow: 0px 3px 30px #A5A5A5;
  display: flex;
  flex-direction: column;
  margin: 2em;
  border-radius: 10px;
  border-left: 10px solid rgba(241, 195, 135, 0.5);
  background: #fff3ea;
  color: #FB8630;
  position: relative;
}

.card-top {
  width: 100%;
  height: 2%;
  border: 5px solid #ff7300;
  border-radius: 10px;
}


.card-header {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 80px;
  height: 30px;
  padding: 1px 1px !important;
  text-align: center;
}

.action-question{
  position: absolute;
  right : 20px;
  bottom: 20px;
}
