
/* Sidebar */
.sidebar {
  background: #FB8630;
  color: white;
  height: 100vh;
  overflow-y: auto;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;  
}
.logo{
  width: 90px;
  height: 90px;
  margin-inline-start: 25px;
}
.logo img{
  max-width: 100%;
  max-height: 100%;
  margin-right: -30px;
}
.bars {
  width: 30px;
}
.hide {
  display: none;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
} 
.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 12px;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  cursor: pointer;
}
.link:hover {
  color: white;
  border-left: 1px solid rgba(241, 195, 135, 0.5);
  background: #FCB37E;
  border-radius: 12px;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active { 
  background: #FCB37E;
}
.link_text {
  white-space: nowrap;
  font-size: 1em;
}

.menu {
  display: flex;
  color: white;
  padding: 20px 15px;
  justify-content: space-between;
  cursor: pointer;
} 

.menu_item {
  display: flex;
  gap: 10px;
  margin-right: 15px;   
}

.menu_container {
  display: flex;
  flex-direction: column;
  border-left: 4px solid rgb(255, 117, 4);
  margin-left: 10px;
}

.menu_container .link {
  border-bottom: 4px solid rgb(255, 117, 4);
}

