@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  
}

main {
  display: flex;
  padding: 10px;
  color: #0D0E76; 
  margin-bottom: 15em;
}



.title {
  font-size: 2.2em;
}
.title-disabled {
  color: #0d0f768c; 
}

.component{
  margin-top: 4em;
}